html {
	margin: -10px;
}
body {
	font-size: 25px;
	color: black;
}

#left_part_of_site {
	align-items: left;
	align-self: left;
	align-content: left;
	background: white none repeat scroll 0% 0%;
	height: 900px;
	width: 12%;
	left: 100%;
	float: left;
	z-index: 1;
}
#main_only_grey_bg {
	align-items: right;
	align-self: right;
	background: #C0C0C0 none repeat scroll 0% 0%;
	height: 900px;
	width: 88%;
	position: relative;
	float: left;
	z-index: 2;
}

#main_content {
	padding-left: 30px;
	padding-top: 20px;
	position: absolute;
	width: 1300px;
	height: 700px;
	background-color: white;
	margin-top: 90px;
	margin-left: 420px;
	z-index: 3
}

#main_content_pics {
	padding-left: 30px;
	padding-top: 20px;
	position: absolute;
	width: 1300px;
	height: 750px;
	background-color: white;
	margin-top: 20px;
	margin-left: 350px;
	z-index: 3
}

#footer {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: white;
	margin-top: 860px;
	z-index: 2;
	text-align: center;
	font-size: 8px;
}

li {
	list-style: none;
	text-indent: 15px;
	font-size: 20px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: black;
}

a {
	text-decoration: none;
}

p {
	font-size: 24px;
	font-family: myFirstFont;
	src: url('Segoe.ttf'),
     url('Segoe.eot');  
}

